.App {
  max-width: 60vw;
  margin: auto;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board {

}

.controlContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.textField {
  border: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

.crudControls {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.moveControls {

}
