.App {
  max-width: 60vw;
  margin: auto;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.connected {
  color: green;
}

.disconnected {
  color: red;
}

.App-link {
  color: #61dafb;
}

.board {
  
}

.boardList{
  display: flex;
  flex-direction: row;
  justify-content: center;    
}

.column{
  border: 1px solid black;
  justify-content: center;  
  padding: 0 20px 10px 20px;
  list-style: none;
}

.listItems:hover{
  cursor:pointer;
  color: grey;
  /* font-weight: bold; */
  /* font-style: italic; */
}

.selected{
  background-color: aquamarine;
  color: darkgreen;
}

.controlContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.textField {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

.inputLabel {
  font-weight: bold;
}

.inputField {
  margin-top: 10px;
  height: 100%;
  margin-bottom: 5px;
  text-align: left;
}

.crudControls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.moveControls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.leftButton {
  grid-column: 1;
  grid-row: 2;
}

.upButton {
  grid-column: 2;
  grid-row: 1;
}

.downButton {
  grid-column: 2;
  grid-row: 3;
}

.rightButton {
  grid-column: 3;
  grid-row: 2;
}
